
.Button {
	width: 150px;
	height: 36px;
}

.Button button {
	width: 100%;
	height: 100%;
	background-color: darkviolet;
	color: white;
	border: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.Button button:hover {
	background-color: deeppink;
	color: white;
}

.Button button:focus {
	outline: none;
}

.Button button:active {
	background-color: white;
	color: deeppink;
	border: 1px solid darkviolet;
}
